#best{
@extend .mt-4;
}

.best_content{
   @extend .mb-5;
   @extend .text-align-center;
   h1{
      @extend .font-size-4x;
      @extend .font-weight-700;
   }
   h3{
      @extend .font-size-3x;
      @extend .mt-2;
   }
}
.best_collection{
   @extend .flex;
}
.best_collection_list{
   padding: $space-2x;
   margin: $space-x;
   border: 2px solid transparent;
}
.collection-list1{
   position: relative;
}

.cl-img{
   width: 100%;
   /* height: 400px; */
   display: inline-block;
   position: relative;
   img{
      width: 100%;
      /* height: 400px; */
      /* position: absolute; */
   }

}

.cl-img-icon{
   @extend .flex;
   @extend .flex-direction-colum;
   padding: $space-2x;
   position:absolute;
   right: 0;
   top: 0;
   z-index: 99;
   span {
      background: $white-color;
      border: 1px solid $white-color;
      border-radius: $space-10x;
      padding: $space-x $space-x;
      margin: 3px;
      &:hover{
         background: #DD9FA2;
         cursor:pointer;
      }
      i {
         font-size: $space-3x;
      }
   }
}
.img-top{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99;
}
.invisible-icon{
   opacity: 0;
   transform: translateY(-20px);
}

.best_collection_list:hover .img-top{
   display: inline;
   cursor:pointer;
}

.best_collection_list:hover .invisible-icon{
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.5s;
  cursor:pointer;
}

.best_collection_list:hover {
   border: 2px solid #F7F8FA;
   cursor:pointer;
}

.collection-list-text1 span i{
 color: #DD9FA2;
}

.collection-list-text1 p{
padding: $space-2x 0 0 0 ;
}

.collection-list-text1 button{
  background:#DD9FA2;
  width: 100%;
  margin-top: $space-3x;
  padding: $space-2x;
  opacity: 0;
  
}
.collection-list-text1 button:hover{
   background:black;
   color:$white-color;
   cursor:pointer;
   
}
.collection-list-text1 p:hover{
color:#DD9FA2;
cursor:pointer;
}

.best_collection_list:hover .collection-list-text1 button{
   opacity: 1;
   transition-duration: 0.5s;
}