#category{
   @extend .mt-10;
}
.category{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 15px;

}

.category_item{
position: relative;
@extend .padding-margin-0;
&:hover{
   div{
      background:#007bff;
      h1{
         color: $white-color;
      }
   }
}
img{
   width: 100%;
   height: 100%;
  
}
div{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   background:$white-color;
   opacity: 0.9;
   padding: $space-3x $space-6x;
   border-radius: $space-2x;
   transition:  all 0.3s ease;
   cursor: pointer;
   //  &:hover{
   //     background: #007bff;
   //     h1{
   //        color:$white-color;
   //     }
   //  }

}
}

.category_item2{
   grid-column-start: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.category_item6{
   grid-column-start: 3;
    grid-column-end: 5;
}